@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    font-family: Poppins;
    font-size: 100%;
}
h2{
    text-align: center;
}
p{
    padding-top:10px;
    padding-bottom:25px;
    line-height:25px;
}
.photo {
    
    height:230px;
    background-color: red;
}
.head{
    height: 230px;
    
    
}
.identite, .titre{
    height: 50%;
    margin: 0 -15px;
    color:white;
    text-align: center;
    padding-top:2%; 
  
}
.identite{
    background-color: #4e4e4e;
}
.titre{
    background-color: #3c3c3c;
}
.presentation, .contact{
    padding: 2%;
    line-height: 40px;
    height:auto;
    min-height: 500px;
    text-align: center;
    
}


.img {
    line-height: 190px;
}
.contact{
    padding-left:5px;
    padding-top:10%;
    background-color:#e8e3e3; 
    line-height: 50px; 
    display: flex; 
    
}
.born, .e2pz, .futur{
    margin-top: 10px;
    display: flex;
}

.carousel{
    padding-top: 60px;
    width:100%;
    height: auto%;
}
.formation, .competence, .diplome{
    line-height: 54px;
    padding:2%;
}
.formation{
    color:white;
    height:auto;
    background-color:#3c3c3c;
    text-align: center,justify;
 
}
.competence{
    text-align: justify;
    color:white;
    height:auto;
    background-color:#4e4e4e;
}
.diplome{
    height:auto;
    background-color:#e8e3e3;
}