@import url('https://fonts.googleapis.com/css?family=Bitter');



/* 
// Responsive My Skills Box Widget
// Made with ❤ by @Pawan_Mall
// http://www.pawanmall.net 
*/



#SkillBox {
    font-size: 20px;
    font-family: bitter;
    width: 100%;
    height: auto;
    margin: 40px auto;
    background-color:#282c2f;
    border: 1px solid #cdcdcd;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}
#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.SkillBar {
    width: 95%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 70%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 70%}
}
#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 60%}
}
#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 30%}
}
#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 0%}
}
#Skill-PYTHON {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-PYTHON {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-PYTHON {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-PYTHON {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-PYTHON {
    from {
    width: 10px;
}
to {
    width: 30%}
}

#Skill-BOOTSTRAP {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-BOOTSTRAP {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-BOOTSTRAP{
    from {
    width: 20px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-BOOTSTRAP{
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-BOOTSTRAP {
    from {
    width: 10px;
}
to {
    width: 60%}





}
.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}