/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');
@import url('https://fonts.googleapis.com/css?family=Bitter');






body{
  font-family: Bitter;
  }

#banniere{
  background-color:#4e4e4e;
  height: 200px;
  overflow: hidden;

}
.avatar{
  float:left;
  background-image:url("https://ct.yimg.com/cy/4642/38307755145_ee0c26_128sq.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  width: 25%;
  height:inherit;
}

.presentation{
  float:left;
  height: 200px;
  width: 50%;
}

.name{
  float:left;
  background-color: #4e4e4e;
  line-height: 100px;
  text-align: center;
  color:white;
  height:100px;  
  font-size:150%;
  width:100%;
}
  
.titre{
  float:left;
  line-height: 100px;
  background-color:#3c3c3c;
  text-align: center;
  color:white;
  height:100px;  
  font-size:150%;
  width:100%;
  
}
.me_contacter{
  float: right;
  background-color: #595959;
  height: 200px;
  width: 25%;
  
}
.contact_img{
  height: 30%;
  font-size:120%;
  line-height:90px;  
}
.contact{
  text-align: center;
  border-top:1%;
  font-size:110%;
  line-height:5px;  
}
#corps{
  background-color: red;
  height: 429px;
}  

.presentation_personnelle{
  float:left;
  background-color:yellow;
  width:80%;  
  height: 429px;
}
.info_personnelle{
  float:right;
  background-color: #A11EB3;
  width:20%; 
  height: 429px;

}
.block{
  border:1px solid red;
  width: 250px;
  height: 300px;
  float:left;
  padding: 20px;
  box-sizing: border-box;
  width: 33.3%;
}

.block.formations{
  background-color: #A11EB3;
}

.block.diplomes{
  background-color: #FFD65E;
}

.block.competences{
  background-color :#009adf;;
}
