/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body{
  font-family: Bitter;
  }

#banniere{
  background-color:#4e4e4e;
  height: 200px;
  overflow: hidden;

}
.avatar{
  float:left;
  background-image:url("https://ct.yimg.com/cy/4642/38307755145_ee0c26_128sq.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  width: 25%;
  height:inherit;
}

.presentation{
  height: 200px;
}

.name{
 
  background-color: #4e4e4e;
  line-height: 100px;
  text-align: center;
  color:white;
  height:100px;  
  font-size:150%;
  width:100%;
}
  
.titre{

  line-height: 100px;
  background-color:#3c3c3c;
  text-align: center;
  color:white;
  height:100px;  
  font-size:150%;
  width:100%;
  
}

#corps{ 
  height: 429px;
}  

.presentation_personnelle{
  float:left;
  background-color:#efefef;
  width:74.9%;  
  height: 500px;
  text-align:justify;
}
#WhoIam{
  text-decoration: underline;
  font-size:120%;
  text-align:center;
  margin-top:1%;
  margin-bottom:1%; 
}
#imgbebe{
  float:left;
  height:25%;
  width:13%;
}
#born{
  width: 99%;
  height: 23%;
  margin-top: 3%;
  line-height: 24px;
}
#e2pzlogo{
 
  float: left;
  height: 25.5%;
  width: 13%;
}
#e2pz{
 
  width: 99%;
  height: 20%;
  margin-top: 2%;
  line-height: 24px;
}
#futur-img{
  float: left;
  height: 26%;
  margin-top:1.5%;
  margin-bottom:3%; 
  width: 13%;
}
#futur{
  text-align:justify;
  width: 99%;
  height: 20%;
  margin-top: 1%;
  line-height: 24px;
}
.info_personnelle{
  float:right;
  background-color:#e8e3e3;
  text-align:left;
  width:25%; 
  height: 500px;
  border-left: 0.1px solid black;
  
}
#titre{
  margin-top:5%;
  font-size:120%;
  line-height:30px;
  text-align:center;
}
#left{
  float:left;
  width:22%; 
  margin-left:3%;
  line-height:60px; 
}
#right{
  float:right;
  width:72%; 
  margin-left:3%;
  line-height:60px; 
}
#adresse{
  line-height: 22px;
  padding-top: 20px;
}
.block{
  line-height: 40px;
  border-top:0.1px solid black;
  width: 250px;
  height: 300px;
  float:left;
  padding: 20px;
  box-sizing: border-box;
  width: 33.3%;
}
#footerTitle{
  text-align: center;
}
.block.formations{
  background-color: #e8e3e3;
}

.block.experience{
  color:white;
  background-color: #4e4e4e
}

.block.competences{
  color:white;
  background-color :#3c3c3c;;
}
#liste{
  text-align:center;
  text-align:justify;
}







